<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="QKart Regression Suite">
    
    <test name="Login and Product Tests">
        <classes>
            <class name="com.mystore.tests.LoginTests" />
            <class name="com.mystore.tests.CartTests" />
            <class name="com.mystore.tests.CheckoutTests" />
        </classes>
    </test>
    
</suite>